<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/fert_rec.css' %}">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-image">
                <h3 class="card-heading"> Fertilizer Recommendation</h3>
                <h6>Enter crop, soil nutrient levels, pH and soil mositure to receive personalized recommendations for both fertilizer selection and soil care</h6>
            </div>
            <form class="card-form" method="post">
                {% csrf_token%}
                <label id="select_label" for="crop" class="input">Crop</label>
                    <select id="fruit" name="fruit">
                    <option value="">Select a Crop</option>
                    <option value="rice">rice</option>
                    <option value="maize">maize</option>
                    <option value="chickpea">chickpea</option>
                    <option value="kidneybeans">kidneybeans</option>
                    <option value="pigeonpeas">pigeonpeas</option>
                    <option value="mothbeans">mothbeans</option>
                    <option value="mungbean">mungbean</option>
                    <option value="blackgram">blackgram</option>
                    <option value="lentil">lentil</option>
                    <option value="pomegranate">pomegranate</option>
                    <option value="banana">banana</option>
                    <option value="mango">mango</option>
                    <option value="grapes">grapes</option>
                    <option value="watermelon">watermelon</option>
                    <option value="muskmelon">muskmelon</option>
                    <option value="apple">apple</option>
                    <option value="orange">orange</option>
                    <option value="papaya">papaya</option>
                    <option value="coconut">coconut</option>
                    <option value="cotton">cotton</option>
                    <option value="jute">jute</option>
                    <option value="coffee">coffee</option>
                    </select>
                <div class="input">
                    <input type="number" class="input-field" step="any" id="nitrogen" name="nitrogen" required />
                    <label class="input-label">Nitrogen (N)</label>
                </div>
                <div class="input">
                    <input type="number" class="input-field" step="any" id="phosphorus" name="phosphorus" required />
                    <label class="input-label">Phosphorus (P)</label>
                </div>
                <div class="input">
                    <input type="number" class="input-field"  step="any" id="potassium" name="potassium"  required />
                    <label class="input-label">Potassium (K)</label>
                </div>
                <div class="input">
                    <input type="number" class="input-field" required />
                    <label class="input-label">pH of Soil</label>
                </div>
                <div class="input">
                    <input type="number" class="input-field" required />
                    <label class="input-label">Soil Moisture</label>
                </div>
                <div class="action">
                    <button class="action-button" value="Predict">Get Recommendations</button>
                </div>
            </form>
            <div class="card-info">
                <p> <a href="{% url 'fertilizer'%}">Try Again</a></p>
            </div>
        </div>
    </div>
</body>
</html>